body {
    background-color: #f0f0f0;
    padding-top: 20px;
}

.card {
    margin-bottom: 20px;
}

.progress-bar {
    background-color: #17a2b8;
}

/* Resetting default button styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 40px;
    color: #fff;
}

.header .logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.header .logo span {
    color: #00d9ff;
}

.header .navbar a {
    color: #fff;
    text-decoration: none;
    margin-left: 50px;
    transition: color 0.3s;
}

.header .navbar a:hover {
    color: #00d9ff;
}

.header .navbar button {
    background-color: #00d9ff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.header .navbar button:hover {
    background-color: #00b0cc;
}


@media (max-width: 768px) {
    .card {
        margin-bottom: 10px;
    }
}